In [1]:
# Import Library
import numpy as np
import pandas as pd
import joblib
from sklearn.metrics import confusion_matrix

In [2]:
df = pd.read_csv('golf_df.csv')
df.info()
df.head(11)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Outlook      14 non-null     object
 1   Temperature  14 non-null     object
 2   Humidity     14 non-null     object
 3   Windy        14 non-null     bool
 4   Play         14 non-null     object
dtypes: bool(1), object(4)
memory usage: 590.0+ bytes

     Outlook Temperature Humidity  Windy Play
0      sunny         hot     high  False   no
1      sunny         hot     high   True   no
2   overcast         hot     high  False  yes
3      rainy        mild     high  False  yes
4      rainy        cool   normal  False  yes
5      rainy        cool   normal   True   no
6   overcast        cool   normal   True  yes
7      sunny        mild     high  False   no
8      sunny        cool   normal  False  yes
9      rainy        mild   normal  False  yes
10     sunny        mild   normal   True  yes

In [3]:
# Change Windy Datatype
df_windy = df['Windy'].astype(str)

df = df.drop(['Windy'], axis=1)
df['Windy'] = df_windy

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Outlook      14 non-null     object
 1   Temperature  14 non-null     object
 2   Humidity     14 non-null     object
 3   Play         14 non-null     object
 4   Windy        14 non-null     object
dtypes: object(5)
memory usage: 688.0+ bytes

In [4]:
# One-Hot-Encoding
new_df = pd.get_dummies(df[['Outlook', 'Temperature', 'Humidity', 'Windy']])
new_df.head(5)

,Outlook_overcast,Outlook_rainy,Outlook_sunny,Temperature_cool,Temperature_hot,Temperature_mild,Humidity_high,Humidity_normal,Windy_False,Windy_True
0,0,0,1,0,1,0,1,0,1,0
1,0,0,1,0,1,0,1,0,0,1
2,1,0,0,0,1,0,1,0,1,0
3,0,1,0,0,0,1,1,0,1,0
4,0,1,0,1,0,0,0,1,1,0

In [5]:
new_df['Play'] = df['Play']
new_df = pd.DataFrame(new_df)
new_df.info()
new_df.head(11)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Outlook_overcast  14 non-null     uint8
 1   Outlook_rainy     14 non-null     uint8
 2   Outlook_sunny     14 non-null     uint8
 3   Temperature_cool  14 non-null     uint8
 4   Temperature_hot   14 non-null     uint8
 5   Temperature_mild  14 non-null     uint8
 6   Humidity_high     14 non-null     uint8
 7   Humidity_normal   14 non-null     uint8
 8   Windy_False       14 non-null     uint8
 9   Windy_True        14 non-null     uint8
 10  Play              14 non-null     object
dtypes: object(1), uint8(10)
memory usage: 380.0+ bytes

,Outlook_overcast,Outlook_rainy,Outlook_sunny,Temperature_cool,Temperature_hot,Temperature_mild,Humidity_high,Humidity_normal,Windy_False,Windy_True,Play
0,0,0,1,0,1,0,1,0,1,0,no
1,0,0,1,0,1,0,1,0,0,1,no
2,1,0,0,0,1,0,1,0,1,0,yes
3,0,1,0,0,0,1,1,0,1,0,yes
4,0,1,0,1,0,0,0,1,1,0,yes
5,0,1,0,1,0,0,0,1,0,1,no
6,1,0,0,1,0,0,0,1,0,1,yes
7,0,0,1,0,0,1,1,0,1,0,no
8,0,0,1,1,0,0,0,1,1,0,yes
9,0,1,0,0,0,1,0,1,1,0,yes
10,0,0,1,0,0,1,0,1,0,1,yes

In [6]:
X = new_df[['Outlook_overcast','Outlook_rainy','Outlook_sunny','Temperature_cool','Temperature_hot','Temperature_mild','Humidity_high','Humidity_normal','Windy_False','Windy_True']]
y = new_df['Play']


# Train Test Split
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.5, random_state=123)

y_train

11    yes
3     yes
1      no
6     yes
12    yes
2     yes
13     no
Name: Play, dtype: object

In [7]:
# Train Model / classifier
from sklearn.tree import DecisionTreeClassifier

cls = DecisionTreeClassifier()


DT_Model = cls.fit(X_train, y_train)

# Evaluate Model
from sklearn.metrics import accuracy_score

y_pred = DT_Model.predict(X_test)

acc_store = round(accuracy_score(y_pred, y_test), 3)

print('Accuracy : ',acc_store)

Accuracy :  0.571

In [8]:
# Predict ML Model / Classifier with the new Data
print(DT_Model.predict([[0,0,1,0,0,1,1,0,1,0]])[0])

yes

C:\Users\DELL\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [9]:
import pickle

pickle.dump(DT_Model, open("model.pkl","wb"))

In [10]:
# from sklearn.tree import export_graphviz

# export_graphviz(
#     DT_Model,
#     out_file="play_golf.dot",
#     feature_names=['Outlook_overcast', 'Outlook_rainy', 'Outlook_sunny', 'Temperature_cool', 'Temperature_hot', 'Temperature_mild', 'Humidity_high', 'Humidity_normal', 'Windy_False', 'Windy_True'],
#     class_names=['Yes','No'],
#     rounded=True,
#     filled=True)